$PrimaryColor: #46b1c9;
$PrimaryColorHover: #3a9dbf;

$SecondaryColor: #586974;
$SecondaryColorHover: #4f5a60;
$SecondaryColorDark: #222729;

$PrimaryWarnColor: #9c0a07;
$PrimaryWarnColorDark: rgba(151, 52, 27, 0.719);
$PrimaryInfoColor: #7e47ff;

$MiscColor: #28965a;

.Label {
  font-family: RobotoMono;
}
