@import "/ui/TDStyles.scss";
.HQWindow {
  position: absolute;
  width: 1000px;
  height: 600px;
  background-color: rgba($PrimaryColorBackground, 0.7);
  align-self: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .MissionList {
    width: 90%;
    height: 90%;
    background-color: rgba($PrimaryColorBackground, 0.7);
    .MissionButton {
      width: 100%;
      min-height: 300px;
      background-color: $PrimaryColor;
    }
  }
}
