@import "/ui/TDStyles.scss";

MainMenuRoot {
  pointer-events: all;
  width: 100%;
  height: 100%;
  justify-content: center;
  .Title {
    position: absolute;
    width: 45%;
    height: 15%;
    right: 40px;
    top: 150px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $PrimaryWarnColorDark;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  .RecordingDot {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 70px;
    right: 40px;
    background: radial-gradient(
      rgba(230, 37, 37, 1) 0%,
      $PrimaryWarnColorDark 33%,
      rgba(0, 0, 0, 0) 50%
    );
    border-radius: 50%;
    &.Blinking {
      opacity: 0;
    }
  }
  .SurroundBorder {
    align-self: center;
    width: 98%;
    height: 95%;
    position: absolute;
    border-top: 3px solid $PrimaryWarnColorDark;
    border-bottom: 3px solid $PrimaryWarnColorDark;
    z-index: -100;
  }
  .container {
    width: 100%;
    height: 65%;
    position: absolute;
    align-self: center;

    .ItemRoots {
      transition: all 0.5s ease;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      flex-direction: column;
      position: absolute;
      width: 90px;
      left: -30px;
      height: 100%;
      border: 5px solid $PrimaryColorBackground;
      padding-top: 10%;
      padding-bottom: 10%;
      justify-content: center;
      .item {
        pointer-events: all;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        width: 300px;
        height: 100px;
        background-color: $PrimaryColorBackground;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        transition: all 0.1s ease;
        transform-origin: left;
        &:hover:not(.continue) {
          background-color: $PrimaryColorHover;
          color: black;
        }
        &.continue {
          background-color: $PrimaryColorInactive;
          color: gray;
          &.hasSave {
            background-color: $PrimaryColorBackground;
            &:hover {
              background-color: $PrimaryColorHover;
              color: black;
            }
          }
        }
      }
    }
  }
  &.submenu {
    .Title {
      top: 50;
      transform: translate(-50%, 0);
    }
    .container {
      .ItemRoots {
        left: -100px;
        .item {
          transform: scaleX(0.1);
          opacity: 0;
        }
      }
    }
  }
  .subMenu {
    transition: all 0.3s ease-out;
    width: 70%;
    height: 70%;
    position: absolute;
    align-self: center;
    justify-content: center;
    //transform: translateX(25%);
    opacity: 1;

    bottom: 75px;

    border-radius: 10px;
    &:intro {
      opacity: 0;
      transform: translateY(200px);
    }
    &:outro {
      opacity: 0;
      transform: translateY(200px);
    }
    .back {
      border-radius: 10px;
      align-items: center;
      text-align: center;
      position: absolute;
      width: 200px;
      height: 50px;
      right: 10px;
      bottom: 10px;
      font-size: 20px;
      .iconpanel {
        width: 50px;
        font-size: 40px;
      }
    }

    background-color: rgba($SecondaryColor, 0.3);
  }
}
